*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    height: 100%;
    width: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    width: 10px;
    height: 10px;
    position:absolute;
    z-index: 999999999;
    border-radius: 50%;
    background-color: #fff;
}

.bounding{
    width:fit-content;
    /* background-color: red; */
    overflow:hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}
#main{
    width:100%;
    background-color: black;
}

#hero{
    position: relative;
    width:100%;
    height:100vh;
    background-color: black;
    color : white;
}

#nav{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;

}

#heading{
    margin-top:90px;
}

#heading h1{
    margin-left: 30px;
    opacity: 0.6;
    line-height:1;
    font-family: "General Sans";
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1{
    margin-left: 230px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    
    width:fit-content;

}

.blocktext h5{
    text-align: right;
    font-size: 15px;
}

#chhotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top:100px;
    padding-right: 50px;

}
#chhotiheadings h5{
    margin-top:.5vw;
    text-align: right;
    font-size: 1vw;
    text-transform: uppercase;

}

#herofooter{
    padding :0 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 3%;

}

#herofooter a{
    color : white;
    text-transform: uppercase;
    text-decoration: none;


}
#herofooter #iconset{
    display: flex;
    gap:5px;
}
#herofooter .circle{
    color:black;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height:25px;
    border-radius: 50%;
background-color: #888;

}

/* second */

#second{
    color: white;
    padding-right: 10vh;
    /* padding-left: 5vh; */
    padding-top: 200px;
    /* padding-bottom: 50px; */
    width:100%;
    height:auto;
    background-color: black;

}

.elem{
    position :relative;
    display :flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:3.5vw 3vw;
    padding-right: 0;
    border-top: 1px  solid #888;

}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: 1px  solid #888;

}

/* 
.elem img{
    
    opacity: 0;
    height: 140%;
    z-index:999;
    position:absolute;
} */

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about{
    display :flex;
    align-items: center;
    gap:50px;
    color:white;

    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;

}

#about img{
    width:200px;

}

#textabout h5{
    opacity: .6;
    margin-bottom: 10px;
}

#textabout{
    width:30rem;

}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}


#textabout a{
    padding: 12px 12px;
    border:1px solid #fff;
    border-radius:100px;
    color:#fff;
    text-decoration:none;
}


#subscribe{
    background-color: black;
    color:white;
    padding: 20px 30px;
    padding-bottom: 10vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;

}

#subscribe h3{
    text-transform: uppercase;
   font-size: 14px;
   margin-top: 10px;
}


#footer{
    color:white;
    background-color: black;
    display :flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;

}
#footerleft{
    display: flex;
    gap:20px;
}
#footerright{
    display: flex;
    gap:30px;
}
#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    text-decoration: none;
}